*,
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
a {
  color: #000;
  text-decoration: none;
}
ul {
  list-style-type: none;
}
.container {
  width: 1170px;
  margin: 0 auto;
}
.btn {
  display: inline-block;
  padding: 20px 30px;
  line-height: 1;
  text-align: center;
  color: #ffffff;
  background: linear-gradient(180deg, #ffab96, #ff0f47);
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s;
}
.btn:hover {
  transform: scale(1.05);
}

